@charset "utf-8";
/* About-content-start*/
.about-us-head > h1, .projects-main > h4{
    font-family: 'Rammetto One';
    text-align: center;
    font-size: 3rem;
    color: #e3aa09;
    margin: 30px 0 0 0;
}
.about-us-content p:nth-of-type(1), .about-us-content p:nth-of-type(3){
    border-left: 2px solid #e3aa09;
    padding-right: 2px;
}
.about-us-content p{
    text-align: center;
    line-height: 1.9rem;
    color: #333333;
}
/* About-content-end*/

/* Team-section-start*/
.team-main-row{
    margin-bottom: 50px;
}
.team-head-column {
    margin: 30px 0;
}
.team-main-column{
    float: left;
    width: 25%;
    padding: 20px;
}
/*Team-section-ends*/