@charset "utf-8";
/* Layout section +++++++++ */
*{
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.full-row{
    float: left;
    width: 100%;
}
.half-row{
    float: left;
    width: 50%;
}

/*Banner + NavigationBar Section ++++++++++++++ */

.logo-col {
    float: left;
    width: 30%;
}
.logo-col a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 2.1rem;
}
.full-banner{
    background: url("banner1.jpg") no-repeat;
    height: 400px;
    background-size: cover;
}
.header-row{
    padding: 15px 0;
}
.nav-bar {
    float: left;
    width: 70%;
}
.navi {
    float: right;
    margin: 0;
    padding: 0;
}
.navi li {
    display: inline-block;
    padding: 0 10px;
}
.navi li:hover{
    outline:1px solid #fff;
}
.navi li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    line-height: 38px;
    font-size: 15px;
}
.banner-content-column h1{
    font-family: courgette;
    text-align: center;
    color: #ffffff;
    padding:40px 0 ;
    float: left;
    width: 100%;
    letter-spacing: 4px;
    font-size: 3rem;
}
.banner-content-column span, .our-story-content > h2{
    color: #e3aa09;
    font-family: courgette;
    font-size: 3rem;
}

/*footer Section +++++++++++++++  */
.footer{
    background-color: #966e00;
    padding: 50px 0px 10px 0px;
}
.footer-logo-row, .address-row{
    float: left;
    width: 33.33%;
    color: #ffffff;
    padding: 0px 25px;
}
.footer-content p , .address-cat p , .address-cat .days *{
    font-family: courgette;
    font-size:16px;
}
.days dd{
    padding: 15px 0;
    margin: 0;
}
.address-cat ul{
    list-style-image: url('icon.png');
    padding: 0 20px;
    margin: 0;
}
.footer-content p {
    line-height: 32px;
}
.copyright-column{
    float: left;
    width: 50%;
}
.copyright-column p{
    color: #ffff;
    font-size: 14px;
}
.social-icon{
    float: left;
    width: 50%;
    line-height: 50px;
}
.social-icon a {
    color: white;
    margin: 0px 10px;
    float: right;
}
.social-icon a:hover{
    color: #333333;
}
.horizontal-line {
    padding: 20px 0 20px 0;
}
