/* Menu Section */
.menu-main-head h1{
    text-align: center;
    font-family: 'Rammetto One';
    font-size: 3rem;
    color: #e3aa09;
}
.menu-item {
    margin: 35px 0;
    font-size: 18px;
    color: #000000;
}
.menu-item-name{
    font-weight: bold;
}
.menu-item-description {
    font-weight: normal;
    font-size: .9em;
    line-height: 1.5em;
}
.menu-item-price{
    float: right;
    font-weight: bold;
    font-family: arial;
    margin-top: -30px;
}

/* image-grid-start*/
.image-grid-row{
    margin: 30px 0;
}
.image-grid-column-outer{
    padding: 10px;
    float: left;
    width: 33%;
}
/* image-grid-end*/